@import url("https: //fonts.cdnfonts.com/css/gilam");
@import url("https: //fonts.cdnfonts.com/css/circe");
@import url("./reset.css");


.body {
    font-family: 'Gilam', sans-serif;
    background-color: #171717;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    background: #171717;
}

/*-----------HEADER------------------*/
.header {
    background: #171717;
    padding-bottom: 120px;
    padding-top: 37px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 216px;
    height: 33px;
}

.callback {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 ;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.12;
    color: #E4B564;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E4B564;
    background: #171717;
width: 218px;
}

.callback:hover {
    border: 1px solid blue;
}
.callback__phone{
    display: flex;
    align-items: center;
    justify-content:start;
    
}

/*--------------------------MAIN-------------------*/

.works h2 {
    padding-bottom: 41px;
    font-weight: 700;
    font-size: 50px;
    line-height: 0.56;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.works {
    margin-bottom: 161px;
}

.text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.wrapper1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(234px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 27px;

}

.text__works {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__box1 {

    background: #634F2C;
    grid-column: 1/3;
    grid-row: 1/3;
}

.works__box2 {

    background: #B4A385;
    grid-column: 3/5;
    grid-row: 1/3;
}

.works__box3 {

    background: #E4B564;
    grid-column: 5/7;
    grid-row: 1/3;
}

.works__box4 {


    background: #635A4A;
    grid-column: 1/4;
    grid-row: 3/5;
}

.works__box5 {

    background: #B08C4D;
    grid-column: 4/8;
    grid-row: 3/5;
}

.equipments h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.56;

    color: #FFFFFF;
    margin-bottom: 94px;
}

.wrapper2 {
    display: grid;
    grid-gap: 30px 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
}


.text__equipments {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
    padding-top: 42px;
    padding-left: 50px;
    width: 302px;
}

.equipments__box1 {
    background: #0E0E0E;
    grid-column: 1/2;
    grid-row: 1/4;
}

.proects__box1:hover {
    border-radius: 1 solid white;
}

.equipments__box2 {
    background: #242424;
    grid-column: 2/3;
    grid-row: 1/5;
}

.equipments__box3 {
    background: #1F1F1F;
    grid-column: 3/4;
    grid-row: 1/3;
}

.equipments__box4 {
    background: #1F1F1F;
    grid-column: 1/2;
    grid-row: 4/7;
}

.equipments__box5 {
    background: #E4B564;
    grid-column: 2/3;
    grid-row: 5/7;
}

.equipments__box6 {
    background: #0E0E0E;
    grid-column: 3/4;
    grid-row: 3/5;
}

.equipments__box7 {
    background: #0A0909;
    grid-column: 3/4;
    grid-row: 5/7;
}

.equipments {
    padding-bottom: 191px;
}

.our_proects {
    background-color: #0E0E0E;
}

.proekts {
    background-color: #0E0E0E;
    margin-bottom: 239px;
}

.all_proects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 161px;
    margin-bottom: 61px;

}

.proects__title {

    font-weight: 700;
    font-size: 50px;
    line-height: 0.56;
    color: #FFFFFF;


}

.button2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-family: 'Circe';
    padding: 10px 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;


}

.wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(391px, auto);
    text-align: center;
}

.list_two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proects__box1 {
    background: #634F2C;
    grid-column: 1/2;
    grid-row: 1/2;
}

.proects__box1:hover {
    border: 2px solid white;
}

.proects__box2 {
    flex-direction: column;

    background: rgba(232, 210, 171, 0.76);
    grid-column: 2/3;
    grid-row: 1/2;
}

.proects__box2:hover {
    border: 2px solid white;
}

.box2__text {
    width: 250px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.27;
    text-align: center;
    color: #FFFFFF;
}

.proects__box3 {
    background: #E4B564;
    grid-column: 3/4;
    grid-row: 1/2;
}

.proects__box3:hover {
    border: 2px solid white;
}

.proects__box4 {
    background: #635A4A;
    grid-column: 1/2;
    grid-row: 2/3;
}

.proects__box4:hover {
    border: 2px solid white;
}

.proects__box5 {
    background: #B08C4D;
    grid-column: 2/3;
    grid-row: 2/3;
}

.proects__box5:hover {
    border: 2px solid white;
}

.proects__box6 {
    background: #634F2C;
    grid-column: 3/4;
    grid-row: 2/3;
}

.proects__box6:hover {
    border: 2px solid white;
}